<%-include("head");%>
    <section class="container ">
        <section class="outer">
            <section class="error">PAGE NOT FOUND :(</section>
        </section>


    </section>
    <%-include("footer");%>